.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-list-1 {
  width: 1140px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  min-height: 760px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  width: 1140px;
  margin-right: 0;
  margin-left: 0;
}

.u-section-1 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-image-1 {
  height: 176px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 21.33%;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 30px 1px 0;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-image-2 {
  height: 176px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 14.98%;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 30px 1px 0;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-image-3 {
  height: 176px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 61.67%;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 30px 1px 0;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-image-4 {
  height: 176px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 95.4%;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  margin: 30px 1px 0;
}

.u-section-1 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-image-5 {
  height: 176px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  margin: 30px 1px 0;
}

.u-section-1 .u-list-item-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-6 {
  padding: 10px;
}

.u-section-1 .u-image-6 {
  height: 176px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  margin: 30px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  }

  .u-section-1 .u-image-1 {
    height: 143px;
  }

  .u-section-1 .u-image-2 {
    height: 143px;
  }

  .u-section-1 .u-image-3 {
    height: 143px;
  }

  .u-section-1 .u-image-4 {
    height: 143px;
  }

  .u-section-1 .u-image-5 {
    height: 143px;
  }

  .u-section-1 .u-image-6 {
    height: 143px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 2074px;
  }

  .u-section-1 .u-image-1 {
    height: 166px;
  }

  .u-section-1 .u-image-2 {
    height: 166px;
  }

  .u-section-1 .u-image-3 {
    height: 166px;
  }

  .u-section-1 .u-image-4 {
    height: 166px;
  }

  .u-section-1 .u-image-5 {
    height: 166px;
  }

  .u-section-1 .u-image-6 {
    height: 166px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    height: 254px;
  }

  .u-section-1 .u-image-2 {
    height: 254px;
  }

  .u-section-1 .u-image-3 {
    height: 254px;
  }

  .u-section-1 .u-image-4 {
    height: 254px;
  }

  .u-section-1 .u-image-5 {
    height: 254px;
  }

  .u-section-1 .u-image-6 {
    height: 254px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    height: 156px;
  }

  .u-section-1 .u-image-2 {
    height: 156px;
  }

  .u-section-1 .u-image-3 {
    height: 156px;
  }

  .u-section-1 .u-image-4 {
    height: 156px;
  }

  .u-section-1 .u-image-5 {
    height: 156px;
  }

  .u-section-1 .u-image-6 {
    height: 156px;
  }
}